<?xml version="1.0" encoding="UTF-8"?>
<Configuration status = "WARN">

    <Properties>
        <Property name="log_dir">webCarStorage</Property>
    </Properties>

    <Appenders>
        <RollingFile name="RollingFile" fileName="${log_dir}/cars.log"
                     filePattern="${log_dir}/cars_%i.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy
                        size="250 MB" />
            </Policies>
        </RollingFile>

        <Async name="AsyncFile">
            <AppenderRef ref="RollingFile"/>
        </Async>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="AsyncFile"/>
        </Root>
    </Loggers>
</Configuration>